* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;

    color: white;
    list-style: none;

}

header {
    max-width: 1440px;
    height: 80vh;
    margin: 0 auto;
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 9) 100%);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}

header nav ul {
    display: flex;
    gap: 30px;
}