* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    border: 2px solid black;
    padding: 10px;
    color: white;
    font-size: 3em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 200px);
    gap: 10px;
}

.child {
    padding: 10px;
    border-radius: 10px;
}

.vertical {
    grid-column: 1/ span 2;
    grid-row: 1/ span 2;
    background-color: red;
}

.horizontal {
    grid-column: 3/ span 2;
    background-color: rgb(255, 156, 139);
}

.blue {
    background-color: blueviolet;
}

.black {
    background-color: black;
}

@media screen and (max-width:576px) {
    .container {}


}