* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.container img {
    width: 100%;
    height: 100%;
}

.container .image {
    width: 30%;
    height: 200px;
}

.container .text {
    width: 70%;
}

.container .text button {
    background-color: rgb(0, 89, 255);
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 6px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


@media screen and (max-width:576px) {
    .container {
        flex-direction: column;
    }

    .container .image {
        width: 100%;
        height: 200px;
    }

    .container .text {
        width: 100%;
    }

    .parent {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

@media screen and (min-width:577px) and (max-width:1220px) {
    .parent {
        display: block;
    }
}